body {
  background-color:#80B3FF;
  height: 100vh;
  margin: 0;
}

.content {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.weathercontent {
  flex: 1;
  background-color: lightgreen;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weathercards {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10%;


  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.search {
    
  font-size: 1.2rem;
  margin: 1.2rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.searchicondiv{
    height: 100%;
    border: 2px solid white;
    width: 40px;
    border-radius: 0  20px  20px 0;
    background-color: white;
    cursor: pointer;
    >img{
        height: 100%;
        width: 90%;
    }
}

.footer {
  font-size: 1.2rem;
  padding: 1rem;
}

.weathercard {
  background-color: white;
  height: 400px;
  width: 300px;
  border-radius: 10px;
}

#searchbar{
    border: 1px solid white;
    border-radius: 20px 0 0 20px;
    width: 30%;
    font-size: 1.0rem;
    height: 100%;
    padding-left: 10px;
    text-align: none;
    outline: 2px;
    @media (max-width: 1024px) {
        width: 40%;
      }
}

#searchbar:placeholder-shown{
    text-align: center;
}
#searchbar:focus{
    text-align: left;
    border-color: rgb(198, 216, 216);
}
#searchbar:focus-visible:placeholder-shown::-webkit-input-placeholder {
    color:transparent;
 }
    
