body {
  background: linear-gradient(to bottom, #6db3d6 0%, #426ea7 100%);
  height: 100vh;
  margin: 0;
  font-family: "Gabarito", cursive;
  background: hsla(186, 33%, 94%, 1);
  background-repeat: no-repeat;

  background: linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );


}

h1 {
  font-weight: 100;
  color: #274066;

}

.content {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.locationwrapper {
  width: 100%;
}
.location {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  /* box-shadow: 0px 0px 30px rgba(18, 148, 235, 0.753); */

  > h1 {
    margin: 0;
  }
}

.weathercontent {
  flex: 1;

  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;


  @media (max-width: 840px) {
    padding: 10px 0;

  }
}

.weathercards {
  display: none;
  justify-content: center;
  width: 100%;
  gap: 10%;
  margin: 10px 0;
  @media (max-width: 840px) {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.search {
  font-size: 1.2rem;
  margin: 1.2rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.searchicon {
  height: 100%;
  border: 2px solid white;
  width: 40px;
  border-radius: 0 20px 20px 0;
  background-color: white;
  cursor: pointer;
  > img {
    height: 100%;
    width: 90%;
  }
}



.footer {
  font-size: 1.2rem;
  display: flex;
  width: 100%;
  background-color: #91b0df;
  justify-content: center;
  /* align-items: center; */
 
}

.weathercard {
  background-color: white;
  height: 430px;
  width: 300px;
  border-radius: 10px;
  background: rgba(183, 200, 216, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
}

.weatherinfo {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
  > img {
    width: 130px;
    height: 130px;
    filter: drop-shadow(1px 1px 10px rgba(107, 107, 107, 0.589));
  }
}

.temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperatureHigh {
  font-size: 4rem;
  margin: 0;
}

.temperatureLow {
  font-size: 2rem;
  margin: 0;
}

.chanceinfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.chance {
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.753);
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  padding: 5px;
  gap: 40px;
  > p {
    display: inline;
    margin: 0;
    padding: 0 5px;
  }
}

#searchbar {
  border: 1px solid white;
  border-radius: 20px 0 0 20px;
  width: 30%;
  font-size: 1rem;
  height: 100%;
  padding-left: 10px;
  text-align: none;
  outline: 2px;
  @media {
    width: 40%;
  }
}

#searchbar {
  border: 1px solid white;
  border-radius: 20px 0 0 20px;
  width: 30%;
  font-size: 1rem;
  height: 100%;
  padding-left: 10px;
  text-align: none;
  outline: 2px;
  @media {
    width: 40%;
  }
}


#searchbar.error {
  background-color: rgba(252, 146, 146, 0.774);
}

#searchbar:placeholder-shown {
  text-align: center;
}
#searchbar:focus {
  text-align: left;
  border-color: rgb(198, 216, 216);
}
#searchbar:focus-visible:placeholder-shown::-webkit-input-placeholder {
  color: transparent;
}

.weathercard.sun::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 246, 246, 0.13);
  height: 100%;
  width: 60px;
  transform: skewX(-30deg);
  left: -180px;
}

.weathercard.sun::before {
  animation: shine 7s;
  animation-iteration-count: infinite;
}

@keyframes shine {
  0% {
    left: -180px;
  }
  20% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}

.weathercard.rain::before {
  content: "";
  position: absolute;
  background-image: url(../images/rainanim.png);
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  animation: rain 8s linear infinite;
}

@keyframes rain {
  0% {
    opacity: 0%;
    left: -100px;
    top: -100px;
  }

  5% {
    opacity: 100%;
  }
  40%,
  100% {
    left: 0px;
    top: 0px;
    opacity: 0%;
  }
}

.weathercard.storm::before {
  content: "";
  position: absolute;
  background-image: url(../images/rainanim.png);
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  animation: storm 8s linear infinite;
}

@keyframes storm {
  0% {
    opacity: 0%;
    left: -100px;
    top: -100px;
  }

  5% {
    opacity: 100%;
  }
  10% {
    background-color: rgba(255, 255, 255, 0.575);
  }
  12% {
    background-color: rgba(255, 255, 255, 0);
  }
  15% {
    background-color: rgba(255, 255, 255, 0.575);
  }
  17% {
    background-color: rgba(255, 255, 255, 0);
  }
  40%,
  100% {
    left: 0px;
    top: 0px;
    opacity: 0%;
  }
}

.weathercard.cloud::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  animation: cloud 7s infinite;
}

@keyframes cloud {
  0% {
    backdrop-filter: blur(0px);
  }
  50% {
    backdrop-filter: blur(90px);
    background-color: rgba(240, 255, 255, 0.589);
  }
  100% {
    backdrop-filter: blur(0px);
  }
}

.day {
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.527);
  > p {
    text-align: center;
    margin: 0;
  }
}


.loader{
  width: 75px;
  height: 75px;
}

.spinner{
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.errormessage{
    display: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 75px;
    text-align: center;
    border: 4px solid rgba(255, 255, 0, 0.733);
    padding: 5px 20px;
    border-radius: 20px;
}

.unitToggler{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 50px;
  padding: 0px 30px;
  background: white;
  border-radius: 20px;
}

.toggleInput{
  width: 100%;
  display: flex;
  align-items: center;
  gap:10px;
  font-size: 2.0rem;
}


/*silder toggler from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.creditsdiv{
  position: relative;
  border: 2px solid black;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 253, 253, 0.719);
  margin: 2px 0px;
}

#hoverarrow{
  padding: 5px;
  width: 20px;
  height: 20px;
}


.creditsdiv:hover .credits{
  display: flex;
}

.creditsdiv:hover .creditwrapper{
  display: flex;
}

.credits{
  background-color: #ffffff;
  position: absolute;
  bottom: 20px;
  padding: 20px;
  text-align: center;
  display: none;
  flex-direction: column;
  gap:5px;
  border-radius: 10px;
  border: 3px solid black;
}

.credits:hover{
  display: flex;
}

.creditwrapper:hover .credits{
  display: flex;
}

.creditwrapper{
  position: absolute;
  display: none;
  justify-content: center;
  bottom: 20px;
  width: 300%;
  height: 100%;
}