.weathercards {
    display: none;
    justify-content: center;
    width: 100%;
    gap: 10%;
    margin: 10px 0;
    @media (max-width: 840px) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

.weathercard {
    background-color: white;
    height: 430px;
    width: 300px;
    border-radius: 10px;
    background: rgba(183, 200, 216, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
  }
  
  .weatherinfo {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
    > img {
      width: 130px;
      height: 130px;
      filter: drop-shadow(1px 1px 10px rgba(107, 107, 107, 0.589));
    }
  }
  
  .temp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .temperatureHigh {
    font-size: 4rem;
    margin: 0;
  }
  
  .temperatureLow {
    font-size: 2rem;
    margin: 0;
  }
  
  .chanceinfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  
  .chance {
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.753);
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    padding: 5px;
    gap: 40px;
    > p {
      display: inline;
      margin: 0;
      padding: 0 5px;
    }
  }



.weathercard.sun::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 246, 246, 0.13);
    height: 100%;
    width: 60px;
    transform: skewX(-30deg);
    left: -180px;
  }
  
  .weathercard.sun::before {
    animation: shine 7s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shine {
    0% {
      left: -180px;
    }
    20% {
      left: 150%;
    }
    100% {
      left: 150%;
    }
  }
  
  .weathercard.rain::before {
    content: "";
    position: absolute;
    background-image: url(../images/rainanim.png);
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    animation: rain 8s linear infinite;
  }
  
  @keyframes rain {
    0% {
      opacity: 0%;
      left: -100px;
      top: -100px;
    }
  
    5% {
      opacity: 100%;
    }
    40%,
    100% {
      left: 0px;
      top: 0px;
      opacity: 0%;
    }
  }
  
  .weathercard.storm::before {
    content: "";
    position: absolute;
    background-image: url(../images/rainanim.png);
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    animation: storm 8s linear infinite;
  }
  
  @keyframes storm {
    0% {
      opacity: 0%;
      left: -100px;
      top: -100px;
    }
  
    5% {
      opacity: 100%;
    }
    10% {
      background-color: rgba(255, 255, 255, 0.575);
    }
    12% {
      background-color: rgba(255, 255, 255, 0);
    }
    15% {
      background-color: rgba(255, 255, 255, 0.575);
    }
    17% {
      background-color: rgba(255, 255, 255, 0);
    }
    40%,
    100% {
      left: 0px;
      top: 0px;
      opacity: 0%;
    }
  }
  
  .weathercard.cloud::before {
    content: "";
    position: absolute;
  
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    animation: cloud 7s infinite;
  }
  
  @keyframes cloud {
    0% {
      backdrop-filter: blur(0px);
    }
    50% {
      backdrop-filter: blur(90px);
      background-color: rgba(240, 255, 255, 0.589);
    }
    100% {
      backdrop-filter: blur(0px);
    }
  }
  
  .day {
    width: 100%;
    display: flex;
    z-index: 1;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.527);
    > p {
      text-align: center;
      margin: 0;
    }
  }